*{
	background: #EDEDED;
	color: blue;
}
body{
	margin: 40px;
	padding: 20px;
	}
	head{
	margin: 2px;
	padding: 1px;
	}
article{
	margin: 50px;
	padding: 25px;
	}
h1{
	text-align: center;
	}
embed{
	position: center;
	}
#menu{
	background-color: #000000;
	position: fixed;
	left:0;
	top:0px;
	width: 100%;
	height: 50px;
	color: blue;
	z-index:8;
	margin: 0px;
}

#navigation{
	list-style-type: none;
}
li
{
	display:inline; 
	padding:0px auto;
}
#menu a{color: blue; font-size: 18px; padding: 0px;}
#menu a:hover{color: #DEDEDE;}

.center{text-align: center;}