@font-face{
	font-family: CustomFont;
	src: url(Futura-Medium.woff);
}
*{
	background: #32E355;
	color: black;
	font-family: CustomFont;
}
body{
	color: #000000;
	font-size: 15px;
	background-color: #32E355;
	height: 100%;
	}
#wrap{
	width: 1024px;
	margin: 0 auto;
}
head{
	margin: 2px;
	padding: 1px;
	}
h1{
	text-align: center;
	color: black;
	}
#menu{
	background-color: #000000;
	position: fixed;
	left:0;
	top:0px;
	width: 100%;
	height: 50px;
	color: blue;
	z-index:8;
	margin: 0px;
}

#navigation{
	list-style-type: none;
}
li
{
	display:inline; 
	padding:0px auto;
	background-color: #000000;
}
#menu a{background-color: #000000; color: white; font-size: 18px; padding: 0px;}
#menu a:hover{color: #DEDEDE;}

.center{text-align: center;}

.container{
	display: inline;
	width: 950px;
}	

.featurenoimage{
	display: inline; 
	width: 479px; 
	height: 310px; 
	float: left; 
	overflow: auto; 
	text-align: center; 
	size: 25px;
	margin-top: 10%;
}

.feature{
	display: inline; 
	width: 479px; 
	height: 310px; 
	float: left; 
	overflow: auto; 
	text-align: center; 
	vertical-align: 50%; 
	padding: 15px;
}

.imgfeature{
	width: 200px; 
	height: 150px;
	display: block; 
	margin: 0 auto;
}

.headerdivider {
    border-left: 1px solid #38546d;
    background: #16222c;
    width: 1px;
    height: 80px;
    display: inline;
    vertical-align: middle;
    top: 10px;
}

.single{
	float:left; 
	overflow: auto; 
	display: inline; 
	width: 223px; 
	height: 270px; 
	text-align: center; 
	padding: 15px;
}

.spotlightimage{
	width: 500px; 
	height: 400px; 
	display: block; 
	margin: 0 auto;
}

.spotlight{
	display: block;
	text-align: center;
}